body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav {
    background-color: #004d40;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #00796b;
    border-radius: 5px;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #004d40;
    padding: 0;
    z-index: 1000;
}

nav ul li:hover ul,
nav ul li:focus-within ul {
    display: block;
}

nav ul li ul li {
    width: 200px;
    display: block;
}

nav ul li ul li ul {
    left: 100%;
    top: 0;
}

nav ul li ul li a {
    display: block;
    padding: 0.5rem 1rem;
}

.txt{
    margin-right: 10px;
}
.contenedor {
  overflow: auto; /* Evita que el contenido desborde el contenedor */
  float: right;
  margin-left: 30px;
}